/* 最外层的示例盒子 */
div.example-box {
  height: auto;
  border: 1px solid ;
  border-image: linear-gradient(325deg, rgba(41, 254, 255, 0), rgba(255, 0, 0, 1), rgba(255, 0, 0, .1)) 2 2;
  color: #ee2746;
  font-size: 1.3em;
  padding: 5px 20px;
}

/* 示例效果的文字 */
div.example-box::before {
  content: '◆ 示例效果：';
  color: #339933;
  font-size: 13px;
  display: block;
  font-weight: bold;
  height: 20px;
}
/* 盒子里面如果有子元素 */
div.example-box>div.item{
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid rgba(255, 0, 0, .1);
  text-align: center;
}
/* 盒子里面的文字p标签 */
div.example-box p {
  margin: 5px;
}

/* 盒子里面有多个例子 */
div.example-box .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* 多个例子的元素 */
div.example-box .grid-box .item {
  border: 2px solid;
  border-image: linear-gradient(325deg, rgba(41, 254, 255, 0), rgba(41, 254, 255, 1), rgba(41, 254, 255, 0)) 2 2;
}

/* 给某个元素背景色 */

.bg-color-red {
  background-color: #ed2f6a;
}
.bg-color-green {
  background-color: #43b244;
}