div.example-box {
  height: auto;
  border: 1px solid ;
  border-image: linear-gradient(325deg, rgba(41, 254, 255, 0), rgba(255, 0, 0, 1), rgba(255, 0, 0, .1)) 2 2;
  color: #ee2746;
  font-size: 1.3em;
  padding: 5px 20px;
}

div.example-box::before {
  content: '◆ 示例效果：';
  color: #339933;
  font-size: .3em;
  display: block;
  font-weight: bold;
  height: 20px;
}
div.example-box>div.item{
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 1px solid rgba(255, 0, 0, .1);
  text-align: center;
}

div.example-box p {
  margin: 5px;
}

div.example-box .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

div.example-box .grid-box .item {
  border: 2px solid;
  border-image: linear-gradient(325deg, rgba(41, 254, 255, 0), rgba(41, 254, 255, 1), rgba(41, 254, 255, 0)) 2 2;
}

